USE [master]
GO
/****** Object:  Database [QuanLyGiaiDauBongDa]    Script Date: 3/25/2022 3:02:36 PM ******/
CREATE DATABASE [QuanLyGiaiDauBongDa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyGiaiDauBongDa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TUNG\MSSQL\DATA\QuanLyGiaiDauBongDa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyGiaiDauBongDa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TUNG\MSSQL\DATA\QuanLyGiaiDauBongDa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyGiaiDauBongDa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyGiaiDauBongDa]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[club_id] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[player_id] [int] NOT NULL,
	[match_id] [int] NOT NULL,
	[card_time] [int] NULL,
	[card_type] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Club]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club](
	[club_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[year_created] [nvarchar](4) NULL,
	[country_id] [int] NULL,
	[city] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[stadium_id] [int] NULL,
	[logo_url] [nvarchar](50) NULL,
 CONSTRAINT [PK_Club] PRIMARY KEY CLUSTERED 
(
	[club_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[short_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[problem] [nvarchar](50) NOT NULL,
	[content] [nvarchar](500) NOT NULL,
	[rateId] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[player_id] [int] NOT NULL,
	[goal_time] [int] NULL,
 CONSTRAINT [PK_Goal] PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[match_id] [int] IDENTITY(1,1) NOT NULL,
	[play_date] [datetime] NULL,
	[host_id] [int] NOT NULL,
	[guest_id] [int] NOT NULL,
	[referee_id] [int] NOT NULL,
	[tourseason_id] [int] NULL,
	[play_stage] [nvarchar](50) NULL,
	[venue_id] [int] NULL,
 CONSTRAINT [PK_Match_1] PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match_Result]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match_Result](
	[match_id] [int] NOT NULL,
	[play_stage] [nvarchar](50) NULL,
	[club_id] [int] NULL,
	[win_lose] [nvarchar](50) NULL,
	[goal_score] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[country_id] [int] NULL,
	[position_id] [nvarchar](50) NULL,
	[height] [nvarchar](50) NULL,
	[weight] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
	[club_id] [int] NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playing_Position]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playing_Position](
	[position_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Playing_Position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking](
	[club_id] [int] NOT NULL,
	[club_name] [nvarchar](50) NULL,
	[match_played] [int] NULL,
	[won] [int] NULL,
	[drawn] [int] NULL,
	[lost] [int] NULL,
	[goal_difference] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[rateId] [int] NOT NULL,
	[rateName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[rateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referee]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referee](
	[referee_id] [int] IDENTITY(1,1) NOT NULL,
	[referee_name] [nvarchar](50) NULL,
	[country_id] [int] NULL,
 CONSTRAINT [PK_Referee] PRIMARY KEY CLUSTERED 
(
	[referee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] NOT NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Account]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Account](
	[role_id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role_Account] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stadiun]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadiun](
	[stadium_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stadiun] PRIMARY KEY CLUSTERED 
(
	[stadium_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[player_id] [int] NULL,
	[match_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 3/25/2022 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[venue_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[audience_capacity] [int] NULL,
 CONSTRAINT [PK_Venue] PRIMARY KEY CLUSTERED 
(
	[venue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [full_name], [password], [email], [dob], [club_id]) VALUES (N'afussie5', N'Ardelle Fussie', N'5xFmcs8G6CXx', N'afussie5@earthlink.net', CAST(N'1980-11-12' AS Date), NULL)
INSERT [dbo].[Account] ([username], [full_name], [password], [email], [dob], [club_id]) VALUES (N'asaurd', N'Ainslie Saur', N'odFxThXvRh', N'asaurd@flickr.com', CAST(N'2008-05-24' AS Date), NULL)
INSERT [dbo].[Account] ([username], [full_name], [password], [email], [dob], [club_id]) VALUES (N'atantoni', N'Adriane Tanton', N'H3bwiJu', N'atantoni@wired.com', CAST(N'2003-10-08' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Club] ON 

INSERT [dbo].[Club] ([club_id], [name], [year_created], [country_id], [city], [address], [stadium_id], [logo_url]) VALUES (1, N'MANCHESTER UNITED', N'1878', 6, N'Manchester', N'Sir Matt Busby Way', 1, N'mu.png')
INSERT [dbo].[Club] ([club_id], [name], [year_created], [country_id], [city], [address], [stadium_id], [logo_url]) VALUES (2, N'NEWCASTLE', N'1892', 6, N'Newcastle upon Tyne
', N'St. James'' Street', 2, N'newcastle.png')
INSERT [dbo].[Club] ([club_id], [name], [year_created], [country_id], [city], [address], [stadium_id], [logo_url]) VALUES (3, N'WATFORD', N'1881', 6, N'Watford', N'Vicarage Road', 3, N'watford.png')
SET IDENTITY_INSERT [dbo].[Club] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([country_id], [name], [short_name]) VALUES (1, N'Albania', N'ALB')
INSERT [dbo].[Country] ([country_id], [name], [short_name]) VALUES (2, N'Austria', N'AUT')
INSERT [dbo].[Country] ([country_id], [name], [short_name]) VALUES (3, N'Belgium', N'BEL')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [username], [problem], [content], [rateId]) VALUES (1, N'tunghe', N'review', N'amazing good job', 5)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Goal] ON 

INSERT [dbo].[Goal] ([goal_id], [match_id], [player_id], [goal_time]) VALUES (3, 2, 1, 50)
SET IDENTITY_INSERT [dbo].[Goal] OFF
GO
SET IDENTITY_INSERT [dbo].[Match] ON 

INSERT [dbo].[Match] ([match_id], [play_date], [host_id], [guest_id], [referee_id], [tourseason_id], [play_stage], [venue_id]) VALUES (2, CAST(N'2022-03-11T02:30:00.000' AS DateTime), 1, 3, 4, 1, N'G', 1)
INSERT [dbo].[Match] ([match_id], [play_date], [host_id], [guest_id], [referee_id], [tourseason_id], [play_stage], [venue_id]) VALUES (3, CAST(N'2022-03-11T02:45:00.000' AS DateTime), 2, 1, 5, 1, N'G', 4)
INSERT [dbo].[Match] ([match_id], [play_date], [host_id], [guest_id], [referee_id], [tourseason_id], [play_stage], [venue_id]) VALUES (4, CAST(N'2022-03-11T02:30:00.000' AS DateTime), 3, 4, 5, 1, N'G', 7)
SET IDENTITY_INSERT [dbo].[Match] OFF
GO
INSERT [dbo].[Match_Result] ([match_id], [play_stage], [club_id], [win_lose], [goal_score]) VALUES (2, N'G', 1, N'W', 1)
INSERT [dbo].[Match_Result] ([match_id], [play_stage], [club_id], [win_lose], [goal_score]) VALUES (2, N'G', 3, N'L', 4)
INSERT [dbo].[Match_Result] ([match_id], [play_stage], [club_id], [win_lose], [goal_score]) VALUES (3, N'G', 1, N'W', 1)
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([player_id], [name], [dob], [country_id], [position_id], [height], [weight], [image], [club_id]) VALUES (5, N'Messi', N'1-1-1', 1, N'GK', N'165', N'70', N'j.jpg', 1)
INSERT [dbo].[Player] ([player_id], [name], [dob], [country_id], [position_id], [height], [weight], [image], [club_id]) VALUES (6, N'Cristiano Ronaldo', N'1-1-1', 1, N'GK', N'165', N'70', N'a1.jpg', 1)
INSERT [dbo].[Player] ([player_id], [name], [dob], [country_id], [position_id], [height], [weight], [image], [club_id]) VALUES (7, N'Mohamed Salah', N'1-1-1', 1, N'GK', N'165', N'70', N'a2.jpg', 1)
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
INSERT [dbo].[Playing_Position] ([position_id], [name]) VALUES (N'CB', N'Trung vệ')
INSERT [dbo].[Playing_Position] ([position_id], [name]) VALUES (N'CF', N'Tiền đạo trung tâm')
INSERT [dbo].[Playing_Position] ([position_id], [name]) VALUES (N'CM', N'Tiền vệ trung tâm')
GO
INSERT [dbo].[Rate] ([rateId], [rateName]) VALUES (1, N'ratkhonghailong')
INSERT [dbo].[Rate] ([rateId], [rateName]) VALUES (2, N'khonghailong')
INSERT [dbo].[Rate] ([rateId], [rateName]) VALUES (3, N'binhthuong')
GO
SET IDENTITY_INSERT [dbo].[Referee] ON 

INSERT [dbo].[Referee] ([referee_id], [referee_name], [country_id]) VALUES (3, N'Damir Skomina', 2)
INSERT [dbo].[Referee] ([referee_id], [referee_name], [country_id]) VALUES (4, N'Martin Atkinson', 2)
INSERT [dbo].[Referee] ([referee_id], [referee_name], [country_id]) VALUES (5, N'Felix Brych', 10)
SET IDENTITY_INSERT [dbo].[Referee] OFF
GO
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'User')
GO
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (1, N'dtd91')
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (2, N'afussie5')
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (2, N'asaurd')
GO
SET IDENTITY_INSERT [dbo].[Stadiun] ON 

INSERT [dbo].[Stadiun] ([stadium_id], [name]) VALUES (1, N'Old Trafford')
INSERT [dbo].[Stadiun] ([stadium_id], [name]) VALUES (2, N'St. James'' Park')
INSERT [dbo].[Stadiun] ([stadium_id], [name]) VALUES (3, N'Vicarage Road')
SET IDENTITY_INSERT [dbo].[Stadiun] OFF
GO
SET IDENTITY_INSERT [dbo].[Venue] ON 

INSERT [dbo].[Venue] ([venue_id], [name], [audience_capacity]) VALUES (1, N'Stade de Bordeaux	', 42115)
INSERT [dbo].[Venue] ([venue_id], [name], [audience_capacity]) VALUES (2, N'Stade Bollaert-Delelis', 38223)
INSERT [dbo].[Venue] ([venue_id], [name], [audience_capacity]) VALUES (3, N'Stade Pierre Mauroy', 49822)
SET IDENTITY_INSERT [dbo].[Venue] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Club] FOREIGN KEY([club_id])
REFERENCES [dbo].[Club] ([club_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Club]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Match] ([match_id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Match]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Player] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Player]
GO
ALTER TABLE [dbo].[Club]  WITH CHECK ADD  CONSTRAINT [FK_Club_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([country_id])
GO
ALTER TABLE [dbo].[Club] CHECK CONSTRAINT [FK_Club_Country]
GO
ALTER TABLE [dbo].[Club]  WITH CHECK ADD  CONSTRAINT [FK_Club_Stadiun] FOREIGN KEY([stadium_id])
REFERENCES [dbo].[Stadiun] ([stadium_id])
GO
ALTER TABLE [dbo].[Club] CHECK CONSTRAINT [FK_Club_Stadiun]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Rate] FOREIGN KEY([rateId])
REFERENCES [dbo].[Rate] ([rateId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Rate]
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD  CONSTRAINT [FK_Goal_Match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Match] ([match_id])
GO
ALTER TABLE [dbo].[Goal] CHECK CONSTRAINT [FK_Goal_Match]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Club] FOREIGN KEY([host_id])
REFERENCES [dbo].[Club] ([club_id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Club]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Club1] FOREIGN KEY([guest_id])
REFERENCES [dbo].[Club] ([club_id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Club1]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Referee] FOREIGN KEY([referee_id])
REFERENCES [dbo].[Referee] ([referee_id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Referee]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Venue] FOREIGN KEY([venue_id])
REFERENCES [dbo].[Venue] ([venue_id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Venue]
GO
ALTER TABLE [dbo].[Match_Result]  WITH CHECK ADD  CONSTRAINT [FK_Match_Result_Club] FOREIGN KEY([club_id])
REFERENCES [dbo].[Club] ([club_id])
GO
ALTER TABLE [dbo].[Match_Result] CHECK CONSTRAINT [FK_Match_Result_Club]
GO
ALTER TABLE [dbo].[Match_Result]  WITH CHECK ADD  CONSTRAINT [FK_Match_Result_Match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Match] ([match_id])
GO
ALTER TABLE [dbo].[Match_Result] CHECK CONSTRAINT [FK_Match_Result_Match]
GO
ALTER TABLE [dbo].[Ranking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Club] FOREIGN KEY([club_id])
REFERENCES [dbo].[Club] ([club_id])
GO
ALTER TABLE [dbo].[Ranking] CHECK CONSTRAINT [FK_Ranking_Club]
GO
ALTER TABLE [dbo].[Referee]  WITH CHECK ADD  CONSTRAINT [FK_Referee_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([country_id])
GO
ALTER TABLE [dbo].[Referee] CHECK CONSTRAINT [FK_Referee_Country]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Account]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Role]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Match] ([match_id])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Match]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Player] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Player]
GO
USE [master]
GO
